<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
    <!-- logo argentina programa-->
        <a class="navbar-brand" href="#" >
            <img [src]="imgLogo" alt="logo" id="logo">
        </a>
         <!-- redes sociales -->
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="redes" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--facebook -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-brands fa-facebook-f fa-xl"></i>
                        </a>
                     </li>
                <!--instagram -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-brands fa-instagram fa-xl"></i>
                        </a>
                    </li>
                <!--twitter -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-brands fa-twitter fa-xl"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--iniciar sesión-->
            <form class="d-flex">
                <button class="btn btn-outline-light" type="submit">Inicia sesión</button>
            </form>
        </div>
    </div>
</nav>