/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-fondo:black ;
    --color-primary: #ff0841;
    --color-secondary: #b10c43;
    --color-tertiary: #021b2b;
    --color-text: #ebdfcc;
    --font-weight-title: 800;
    --font-weight-text: 500;
    --font-size-title: 1.5em;
    --font-size-text: 1.2em;
}


body{
    background-color:var(--color-fondo)!important;
    color: var(--color-text)!important;
}

html, body { height: 100%; }

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
